# 忽略圖片資料夾與所有常見圖片格式檔案

# 忽略轉出圖檔與中間產物的資料夾
frames/
output_overlay/
yolo_txt/
output_json/
csv_output_overlay/
csv_output/
runs/
YOLO_txt_output_overlay/
frames_CapCut/
output_json_CapCut/
data/
output_classified_images/
output_frames_forehand/
# 忽略常見圖片格式
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.webp
*.svg
*.pkl
*.csv
*.mp4
*.xlsx
*.7z
*.zip